/* Tabs 基础样式 */
.tabs {
  /* 导航栏样式 */
  :global(.ant-tabs-nav) {
    margin-bottom: 0;

    &::before {
      display: none;
    }
  }
}

.primary {
  /* Tab 基础样式 */
  :global(.ant-tabs-tab) {
    margin-left: 0.375rem !important;
    border-radius: 6px !important;
    padding: 0.175rem 0.475rem !important;

    /* 第一个标签页 - 移除左边距 */
    &:first-of-type {
      margin-left: 0 !important;
    }
    &:hover {
      background-color: #eee !important;
    }
    :global(.ant-tabs-tab-btn) {
      &:hover {
        color: #04f !important;
      }
    }

    /* Tab 按钮样式 */
    > :global(.ant-tabs-tab-btn) {
      color: #333 !important;
    }
  }

  /* 激活状态 */
  :global(.ant-tabs-tab-active) {
    background-color: #04f !important;
    > :global(.ant-tabs-tab-btn) {
      color: #fff !important;
    }

    /* 激活状态的悬停效果 */
    &:hover {
      background-color: #04f !important;
    }

    :global(.ant-tabs-tab-btn) {
      &:hover {
        color: #fff !important;
      }
    }
  }
}

/* rounded-card 变体样式 */
.outline {
  /* Tab 基础样式 */
  :global(.ant-tabs-tab) {
    margin-left: 0.375rem !important;
    padding: 0.175rem 0.475rem !important;
    border: 1px solid #333 !important;
    border-radius: 10px !important;

    /* 第一个标签页 - 移除左边距 */
    &:first-of-type {
      margin-left: 0 !important;
    }

    /* 悬停状态 */
    &:hover {
      background-color: #eee !important;
    }

    /* Tab 按钮样式 */
    > :global(.ant-tabs-tab-btn) {
      color: #333 !important;
    }
  }

  /* 激活状态 */
  :global(.ant-tabs-tab-active) {
    font-weight: 600 !important;
    background-color: #eee !important;
  }
}
