/* Tabs 基础样式 */
.tabs {
  /* 导航栏样式 */
  :global(.ant-tabs-nav) {
    margin-bottom: 0;

    &::before {
      display: none;
    }
  }
  :global(.ant-tabs-tab) {
    /* 第一个标签页 - 移除左边距 */
    &:first-of-type {
      margin-left: 0 !important;
    }
  }
}

.primary {
  /* Tab 基础样式 */
  :global(.ant-tabs-tab) {
    margin-left: 0.375rem !important;
    border-radius: 6px !important;

    &:hover {
      background-color: var(--f-bg-layout) !important;
    }
  }

  /* 激活状态 */
  :global(.ant-tabs-tab-active) {
    font-weight: 600 !important;
    background-color: var(--f-bg-primary) !important;
    &:hover {
      background-color: var(--f-bg-primary) !important;
    }
  }
}

/* rounded-card 变体样式 */
.outline {
  /* Tab 基础样式 */
  :global(.ant-tabs-tab) {
    margin-left: 0.375rem !important;
    border: 1px solid var(--f-border-secondary) !important;
    border-radius: 10px !important;

    &:hover {
      background-color: var(--f-bg-layout) !important;
    }
  }

  /* 激活状态 */
  :global(.ant-tabs-tab-active) {
    font-weight: 600 !important;
    background-color: var(--f-bg-layout) !important;
  }
}
